
#login{
    margin: auto;
    width: 50%;
    border: 1px solid #828282;
    border-radius: 1px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.barra{
    background-color: #FF6600;
}